BasedOnStyle: Google
AccessModifierOffset: -2
ColumnLimit: 140
SortIncludes: false
SortUsingDeclarations: false
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: false
